---
import OurServiceCarousel from "./home/OurServiceCarousel";
const cardsContent = [
  {
    img: "https://res.cloudinary.com/de5c9p8wb/image/upload/f_auto,q_auto/productos_hyoeur",
    title: "LIMPIEZA",
    text: "Limpieza de alta calidad tanto corporativa como residencial. Garantizamos espacios saludables, con un equipo altamente capacitado y productos de primer nivel.",
  },
  {
    img: "https://res.cloudinary.com/de5c9p8wb/image/upload/f_auto,q_auto/organico_dcevyr",
    title: "JARDINERÍA",
    text: "Servicios integrales de jardinería y paisajismo, transformando espacios con diseño creativo y cuidado experto para crear entornos verdes vibrantes y atractivos.",
  },
  {
    img: "https://res.cloudinary.com/de5c9p8wb/image/upload/f_auto,q_auto/jardineria_qvslqm",
    title: "ÁREAS VERDES",
    text: "Nuestra experiencia se centra en la planificación, diseño y mantenimiento de extensas áreas verdes para embellecer entornos naturales y urbanos.",
  },
  {
    img: "https://res.cloudinary.com/de5c9p8wb/image/upload/f_auto,q_auto/cleaning_ktfy0f",
    title: "LIMPIEZA DE OBRAS",
    text: "Limpieza especializada para obras, asegurando que los sitios de construcción queden limpios y seguros, listos para su ocupación post obra.",
  },
  {
    img: "https://res.cloudinary.com/de5c9p8wb/image/upload/f_auto,q_auto/limpiar_bm209f",
    title: "LIMPIEZA FINA DE OBRAS",
    text: "Nos especializamos en la limpieza  minuciosa de obras, asegurando que los detalles finos y los acabados queden impecables y listos para su uso.",
  },
  {
    img: "https://res.cloudinary.com/de5c9p8wb/image/upload/f_auto,q_auto/mantenimiento_ksvckx",
    title: "MANTENIMIENTO Y REPARACIÓN",
    text: "Nos encargamos del mantenimiento y reparación integral de su hogar, asegurando que cada detalle esté en perfecto estado en todo momento.",
  },
];
---

<div id="servicios"
  class=" relative bg-[url(https://res.cloudinary.com/de5c9p8wb/image/upload/f_webp,fl_awebp,q_auto/v1696950828/ds_bxagmv)] bg-cover bg-center xl:bg-cover w-full pt-[110vw] sm:pt-[70%] md:pt-[55%] lg:pt-[80%] xl:pt-[60.25%] 2xl:pt-[55%]"
>
  <div class="absolute top-0 left-0 w-full h-full flex flex-col-reverse sm:flex-row justify-center">
    <div
      class="hidden w-[55rem] lg:grid grid-cols-3 gap-y-12 m-auto"
    >
      {
        cardsContent.map((item, index) => (
          <div class="relative border-[5px] border-white rounded-3xl h-83 w-60 lg:w-56 xl:w-60 p-5 pt-8 flex flex-col space-y-2 mx-auto">
            <img src={item.img} alt={item.title} class="w-16 h-16 mx-auto" />
            <h3 class="font-dm text-center text-white font-bold">
              {item.title}
            </h3>
            <p class="font-dm text-white">{item.text}</p>
            <div class="absolute -top-2.5 left-1/2 transform -translate-x-1/2 bg-primary-dark w-32 h-2 rounded-b-full"></div>
            <div class="absolute flex -top-7 left-1/2 transform -translate-x-1/2 border-2 border-primary-dark bg-white rounded-full w-10 h-10 place-content-center place-items-center text-primary-dark font-bold text-xl"> {index + 1} </div>
          </div>
        ))
      }
    </div>
    <div class="sm:w-[60%] lg:hidden">
      <OurServiceCarousel client:load cardsContent={cardsContent} />
    </div>
    <div class="lg:w-[30%] xl:w-[35%] 2xl:w-[40%] flex text-center place-items-center place-content-center">
      <p class="font-antonio text-white text-center text-[8vw]">NUESTROS SERVICIOS</p>
    </div>
  </div>
</div>